body{
    text-align: center;
 }
h2{
   color: white;
   text-shadow: 0 0 5px red;
}
em{
   font-variant: small-caps;
   font-size:25px;
   word-spacing:3px;
   letter-spacing:2px;
   line-height:30px;
}
em.doan1 {
   color:red;
}
em.doan2 {
   color:slateblue;
}
em.doan3 {
   color:green;
}